# The ENV vars in this file are secrets. They should NEVER be hardcoded or committed to version control. All other non-secret ENV vars should be specified in the docker-compose.yml file for local development, and in the cloudbuild.yaml file for production deployment.
POSTGRES_CONNECTION_STRING=postgres_connection_string_placeholder
SUPABASE_JWT_SECRET=supabase_jwt_secret_placeholder